<% provide(:title, "Create Option Map") %>

<div class="row white-background tenpx-margin-top tenpx-margin-bottom">
  <div class="col-xs-5 text-center tenpx-margin-bottom">
    <%= image_tag "Shorelogo.png", size: "350x183" %>
  </div>
  <div class="col-xs-7 text-left">
    <h1 class="text-success text-bolder" style="margin-top: 73px;"> Options Ticker-to-RIC Mapper</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-justify tenpx-margin-top tenpx-margin-bottom">
    This module accepts a correctly-formatted CSV file where each row contains one complete option input record,
    processes those records, and provides an output file configured one of two ways: the "regular" output file
    contains a number of output data points per row, each of which is described in a header row, while the "DSS"
    output file contains rows with just the identifier "RIC" plus the Reuters Identification Code (RIC) for
    the corresponding input row.
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-justify tenpx-margin-top tenpx-margin-bottom">
    To utilize this tool, please click the "Choose File" button to select an input file to upload, then select
    which type of file you wish to be returned from the drop-down, and finally click "process." Assuming your input
    file is correctly formatted, the page will process for a few moments and then return an output file in the desired
    format.
  </div>
</div>
<% if @errors.present? %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-justify tenpx-margin-top tenpx-margin-bottom">
      <div class="alert alert-dismissable alert-danger text-center">
        <h3 style="color: #FFF;">
          <b class="tenpx-margin-bottom">ERROR:</b><br />
          <% @errors.each do |err| %>
            <%= err %>
          <% end %>
        </h3>
      </div>
    </div>
  </div>  
<% end %>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-justify tenpx-margin-top tenpx-margin-bottom">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Input File Upload</h3>
      </div>
      <div class="panel-body">
        <%= form_for @input_files, :html => { :multipart => true, :class => "form-horizontal" } do |frm| %>
          <div class="form-group">
            <%= frm.label :inputfile, "Input csv file to upload: ", class: "col-xs-2 control-label no-margin-top no-padding-top" %>
            <div class="col-xs-10 tenpx-margin-top">
              <%= frm.file_field :inputfile, class: "form-control" %>
              <%= frm.hidden_field :inputfile_cache %>
            </div>
          </div>
          <div class="form-group">
            <%= frm.label :out_type, "Desired output file type ", class: "col-xs-2 control-label no-margin-top no-padding-top" %>
            <div class="col-xs-6 tenpx-margin-top">
              <%= frm.select :out_type, options_for_select(@out_type_options), {}, :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-4 col-xs-offset-2">
              <%= frm.submit "Upload File", data: { confirm: "Confirm upload?"}, class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
        
<div class="row">
  <div class="col-xs-12 text-center text-italic text-mini text-warning tenpx-margin-top tenpx-margin-bottom">
    IMPORTANT: this system purposefully does not store copies of input files - it caches the input file, parses it
    into working memory, applies the relevant transformations, and returns the output file. By design, given this
    prototype's lack of information security precautions, no data is retained concerning the input file.
  </div>
</div>
